/*#menu li ul {*/


/*    position: fixed;*/


/*    visibility: hidden;*/


/*    left: 92px;*/


/*    top: 149px;*/


/*    height: 80%;*/


/*    background-color: #2b303a;*/


/*    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);*/


/*    opacity: 0;*/


/*    transition: opacity 1s cubic-bezier(0, 0, 0.14, 0.99);*/


/*    border-top: 1px solid rgba(69, 74, 84, 0.7);*/


/*}*/

#menu li div .col ul {
    list-style: none;
    position: absolute;
    visibility: hidden;
    left: 0px;
    top: 13px;
    /*height: 80%;*/
    background-color: #eff2f5;
    /*box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);*/
    opacity: 0;
    /*transition: opacity 1s cubic-bezier(0, 0, 0.14, 0.99);*/
    /*border-top: 1px solid rgba(69, 74, 84, 0.7);*/
}

.sidebar {
    width: 70px;
}

.sidebar .sidebar-wrapper {
    width: 70px;
}

#menu li div .col ul li {
    padding: 10px 15px;
}

.sidebar .nav li a, .sidebar .nav li .dropdown-menu a {
    color: #767a82;
    font-weight: 400;
}

.sidebar .nav li:hover > a, .sidebar .nav li .dropdown-menu a:hover, .sidebar .nav li .dropdown-menu a:focus {
    background: #ff9800;
}

.navbar {
    z-index: 1;
    left: 70px;
}

#navbarDropdownProfile {
    margin: 2px 0px 0px 9px;
    position: fixed;
}
#navbarDropdownProfile:hover {
    cursor: pointer;
}

.card .card-header {
    z-index: 0;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: top;
}
